<html>

<title>Secret Santa</title>

<head>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<h1>Recipient Added!</h1>

<body>
    <h2>The following recipient has been added:</h2>

    Name: <%- name %> <br>
    Email: <%- email %>

    <br>


    <form method="post" action="https://kind-lime-pangolin-shoe.cyclic.app/send">
        <input type="submit" value="Send assignments">
    </form>
    <form method="post" action="https://kind-lime-pangolin-shoe.cyclic.app/entry">
        <input type="submit" value="Add another participant">
    </form>


</body>