<html>

<title>Secret Santa</title>

<head>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<h1>Entry</h1>

<body>
    <form method="post" action="https://kind-lime-pangolin-shoe.cyclic.app/confirmed">
        <fieldset>
            Name of participant: <input type="text" id="name" name="name"><br>
            Participant Email: <input type="email" id="email" name="email"><br>
        </fieldset>

        <input type="submit" value="Add Participant">

    </form>

    

</body>