
<html>

<title>Secret Santa</title>

<head>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<h1>Secret Santa Assigner</h1>

<body>
    <h2>Welcome!</h2>


    <form action="http://localhost:5000/entry" method="post">
        <input type="submit" value="Go to Name Entry">
    </form>

    <form method="post" action="http://localhost:5000/removed">
        <input type="submit" value="Remove all participants">
    </form>

</body>