<html>

<head>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<h1>Removed</h1>

<body>
    <h2>All participants have been removed</h2>

    Removed <%- num %> participants.

    <a href="http://localhost:5000/">Return to start page</a>

</body>