<html>

<head>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<h1>Assignments:</h1>

<body>
    <h2>Hover over the second column to view (no peeking)</h2>

    <%- givers %>

    <h2>All givers will receive an email containing the name of their assigned person.</h2>

    <a href="http://localhost:5000/">Return to start page</a>

</body>